/* ProductPage.css */
.product-container {
  min-height: 400px; /* Adjust the value as needed */
  display: flex;
  align-items: center;
  justify-content: center;
}

.purchase-options {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 20px;
}

.purchase-button {
  margin-top: 15px;
}
